:root {
    --bg-dark-grey: rgb(53, 53, 53);
    --text-white: white;
    --text-green: rgb(10, 156, 90);
}


* {
    border-color: red;
}

body {
    background-color: var(--bg-dark-grey);
    color: var(--text-white);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

code {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-green);
}

@media screen and (min-width: 768px) {
    * {
        border-color: blue;
    }
    /* todo */
}

@media  screen and (min-width: 992px) {
    /* to do */
    * {
        border-color: greenyellow;
    }
    
}